body {
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Playfair Display', serif;


	color: #333;
	margin: 0px;
}

html { 
/*  background: linear-gradient(  hsl(18, 61%, 89%), #ffffff);*/ 
	background: #080e3b;
  /*background: url(images/background.jpg) no-repeat center center fixed;*/

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header {
	text-align: center;
/*	min-height: 100vh;
	min-width: 100vw;*/
/*	background: linear-gradient( hsl(1, 61%, 89%), #ffffff); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
}
header img {
	border: 1px solid rgb(136, 136, 136);
	border-radius: 50%;
	padding: none;
	height: 60vh;
	width: 30vw;
	object-fit: cover;
}
a { 
color: #339988;
}
h1.gradient-text {

	font-size: 66px;
/*	 // set the background color*/
  background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);
/*  // background color masked along the text and clip away the rest*/
  -webkit-background-clip: text;
/*  // make fill color to transparent so that masked background color will be shown*/
  -webkit-text-fill-color: transparent;
}

h1, h2 {
	/*font-family: "Abel", sans-serif;*/
	font-family: 'Playfair Display', serif;
	font-style: italic;
	color: #FFF;

}

h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: #666;
	text-align: center;
}

p, ul, ol {
	line-height: 1.5;
}

.smallshop img {
	height: 400px;
	width: 600px;
}

#about  {
	font-family: "Abel", sans-serif;
	font-style: normal;
	background: white;
	color: black;
	text-align: center;
}

#about h1, h2 {
	font-family: "Abel", sans-serif;
	font-style: normal;
	background: white;
	color: black;
	text-align: center;
}

#about img {
	padding: 50px 100px;
}

iframe {
	align-content: center;
	align-items: center;
	padding: 50px 100px;
}

.links h2 {
	color: #FF5728;

}
.stacked {
	padding: 50px 100px;
}
.contact {
	text-align: center;
	color: #FFF;

	/*background: url(images/dark_embroidery.png);*/
}
.contact img {
	width: 100px;
	margin: 10px;
	border-radius: 50%;
	border: none;
}
.contact img:hover {
	opacity: 0.5;
	background: #000;
}
ul.websites {
	padding: 0;
}

ul.websites li {
	list-style: none;
	display: inline-block;
	margin-bottom: 5px;
}

.websites a {
	background: #000;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 24px;
	display: block;

}

.websites a:hover {
	background: #080e3b;

}

.blogging {
	padding: 44px;
}


@media only screen and (min-width: 768px) {
    /* tablets and desktop */
}

@media only screen and (max-width: 767px) {
    /* phones */
    .contact img {
		width: 100px;
		margin: 10px;
		border-radius: 50%;
		border: none;
		display: block;
		margin-left: auto;
    	margin-right: auto;
	}

	#about {
		width: 100%;
/*		margin: 10px;
		display: block;*/
	/*	margin-left: auto;
    	margin-right: auto;
*/
	}

}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    /* portrait phones */
}